flows.json
[{"id":"9f58efea.379ea8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9998467e.1c78c","type":"mqtt in","z":"9f58efea.379ea8","name":"DHT","topic":"esp32/dht/#","qos":"2","datatype":"auto","broker":"8db3fac0.99dd48","x":90,"y":120,"wires":[["ef3e2a1e.8038b8"]]},{"id":"ad6f8f87.567ad","type":"function","z":"9f58efea.379ea8","name":"Query","func":"dato = msg.payload;//dato.temperature dato.Id dato.humidity dato.Date\nquery = \"Insert into sensort(temperature) values(\"+ dato.temperature +\")\";\nmsg.payload = JSON.parse(query);\nreturn msg;\n\n\n/*obj = {};\nvar res;\n\nmsg.payload = JSON.parse(msg.payload);\n\nmsg.payload.forEach(function(item) {\n    res = item.split(\":\");\n    obj[res[1]] = res[2];\n})\nmsg.payload = obj;\n\nreturn msg;\n*/\n//dato = msg.payload;//dato.temperatura dato.Id dato.Humidity dato.Date\n//query = \"Insert into DHT(Temperature, Id, Humidity, Date) values(\"+dato.Temperature+\", \"+datos.Id+\", \"+datos.Humidity+\", \"+dato.Date+\")\";\n//msg.payload = query;\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":340,"wires":[["58476c42.27194c","a635d3a4.e20f68"]]},{"id":"a635d3a4.e20f68","type":"debug","z":"9f58efea.379ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":420,"wires":[]},{"id":"58476c42.27194c","type":"postgres","z":"9f58efea.379ea8","postgresdb":"ebbae8ea.fe16","name":"postgres","output":false,"perrow":false,"rowspermsg":"2","return_on_error":true,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":580,"y":220,"wires":[]},{"id":"81b0ce27.844cf","type":"mqtt in","z":"9f58efea.379ea8","name":"Temperature","topic":"esp32/dht/temperature","qos":"2","datatype":"auto","broker":"8db3fac0.99dd48","x":90,"y":320,"wires":[["e33a222c.5c8ca8","a096f89a.c0bd1"]]},{"id":"e33a222c.5c8ca8","type":"ui_gauge","z":"9f58efea.379ea8","name":"","group":"1a9af0b6.8c1bb7","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":"0","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":240,"wires":[]},{"id":"174ed87a.dbd83","type":"mqtt in","z":"9f58efea.379ea8","name":"Humidity","topic":"esp32/dht/humidity","qos":"2","datatype":"auto","broker":"8db3fac0.99dd48","x":80,"y":580,"wires":[["7d7d79a.15b1b08","d55e8027.407478"]]},{"id":"96d73b18.7bdd9","type":"debug","z":"9f58efea.379ea8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":720,"wires":[]},{"id":"ef3e2a1e.8038b8","type":"debug","z":"9f58efea.379ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":60,"wires":[]},{"id":"7d7d79a.15b1b08","type":"ui_gauge","z":"9f58efea.379ea8","name":"","group":"1a9af0b6.8c1bb7","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":260,"y":540,"wires":[]},{"id":"a096f89a.c0bd1","type":"json","z":"9f58efea.379ea8","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":340,"wires":[["ad6f8f87.567ad"]]},{"id":"d55e8027.407478","type":"json","z":"9f58efea.379ea8","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":660,"wires":[["cd0bfee.9f7db"]]},{"id":"cd0bfee.9f7db","type":"function","z":"9f58efea.379ea8","name":"Query","func":"dato = msg.payload;//dato.temperature dato.Id dato.humidity dato.Date\nquery = \"Insert into sensorh(humidity) values(\"+ dato.humidity +\")\";\nmsg.payload = query;\nreturn msg;\n\n\n/*obj = {};\nvar res;\n\nmsg.payload = JSON.parse(msg.payload);\n\nmsg.payload.forEach(function(item) {\n    res = item.split(\":\");\n    obj[res[1]] = res[2];\n})\nmsg.payload = obj;\n\nreturn msg;\n*/\n//dato = msg.payload;//dato.temperatura dato.Id dato.Humidity dato.Date\n//query = \"Insert into DHT(Temperature, Id, Humidity, Date) values(\"+dato.Temperature+\", \"+datos.Id+\", \"+datos.Humidity+\", \"+dato.Date+\")\";\n//msg.payload = query;\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":660,"wires":[["5a07dc2a.372714","96d73b18.7bdd9"]]},{"id":"5a07dc2a.372714","type":"postgres","z":"9f58efea.379ea8","postgresdb":"ebbae8ea.fe16","name":"postgres","output":false,"perrow":false,"rowspermsg":"2","return_on_error":true,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":560,"y":600,"wires":[]},{"id":"8db3fac0.99dd48","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ebbae8ea.fe16","type":"postgresdb","cfgname":"IoT","hostname":"localhost","port":"5432","db":"IoT","ssl":false},{"id":"1a9af0b6.8c1bb7","type":"ui_group","name":"DHT sensor","tab":"692adc03.c9516c","order":1,"disp":true,"width":"6","collapse":false},{"id":"692adc03.c9516c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]